.form {
  box-sizing: border-box;
  background-color: #fff;
  width: 366px;
  height: 439px;
  border-radius: 12px;
  padding: 45px;
  margin: auto auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.inputsList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 60px;
}

.inputsList li {
  margin-top: 40px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
