.playerControls {
  display: flex;
  align-items: center;
  gap: 33px;
}

.previos {
  display: flex;
}
.previosSvg {
  width: 15px;
  height: 14px;
}
.play {
  display: flex;
}
.playSvg {
  width: 22px;
  height: 20px;
}
.next {
  display: flex;
}

.nextSvg {
  width: 15px;
  height: 14px;
}
.repeat {
  display: flex;
}
.repeatSvg {
  width: 18px;
  height: 12px;
}
.shuffle {
  display: flex;
}
.shuffleSvg {
  width: 19px;
  height: 12px;
}
