.mainNav {
  margin-top: 30px;
  grid-column: 1 / 2;
}

.burgerSvg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navListContainer {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.navList {
  transition: top 0.5s;
  position: absolute;
  top: -150px;
  list-style: none;
  margin: 0;
  padding: 18px 0 10px 0;
}

.active {
  top: 0;
}
