@font-face {
  font-family: 'Stratos';
  src: url(./assets/Stratos-Regular.woff2) format(woff2);
}
body {
  margin: 0;
  font-family: Stratos, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
}

#root {
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: relative;
}

.loading::before {
  content: '';
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: #313131;
  display: block;
}
